@import "_utilities";

/**
自定義 margin & padding 間距(10, 10~50)
*/
// usage => .margin + -- + direction(top, right, bottom, left) + - + "10"~"50"
// ex. .margin--top-20, .margin--right-10
@include generate_trbl(margin, 10, 5);
// usage => .padding + -- + direction(top, right, bottom, left) + - + "10"~"50"
// ex. .padding--left-10, .padding--bottom-20
@include generate_trbl(padding, 10, 5);

/**
自定義 寬度 間距(10, 10~100)
*/
// ex. .width--10
@include width_func(10, 100);

/**
通用樣式
*/
@include generate(text-align, $text-align);
@include generate(float, $float);
@include generate(cursor, $cursor);
@include generate(vertical-align, $vertical-align);
@include generate(display, $display);

/**
通用樣式2
*/
// 文字顏色
// ex. color--primary
@include generate_obj(color, $color);
// 文字大小
// ex. font-size--primary
@include generate_obj("font-size", $text_size);

.clearfix {
  @include clearfix;
}

// 斷行
.text-break {
  width: 100%;
  text-align: left;
  white-space: initial;
  word-break: break-all;
}
// 省略符號
.text-nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
