// ************************************************************
// Color Variable
// ************************************************************

/** Basic Color ***/
$white: #fff;
$black: #000;

/** Custom Color ***/
$primary_color: #738fdd;
$primary_bg_color: #42464d;
$secondary_bg_color: #2f3136;

$danger_color: #cc0003;

// ************************************************************
// Basic Variable
// ************************************************************

/* Font */
$font-family: "Microsoft JhengHei", "arial", sans-serif;

$font_base: 16px;
$font_lg: 20px;
$font_sm: 14px;
$font_xs: 12px;
$font_text: 12px;

/**********************/

